##### 社会关系 prompting

![image-20230209132624035](testing results.assets/image-20230209132624035.png)

